In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
import os

# Crear directorio si no existe
os.makedirs('datos', exist_ok=True)

# Crear archivo CSV de ventas
ventas_csv = """fecha,cliente,producto,cantidad,precio_unitario,total
2024-01-15,Empresa A,Consultoría,40,150,6000
2024-01-16,Empresa B,Análisis,20,200,4000
2024-01-17,Empresa C,Desarrollo,60,180,10800
2024-01-18,Empresa A,Consultoría,30,150,4500
2024-01-19,Empresa D,Análisis,25,200,5000"""

with open('datos/ventas.csv', 'w', encoding='utf-8') as f:
    f.write(ventas_csv)

In [ ]:
df_ventas=pd.read_csv('datos/ventas.csv')
print("Dataframe de ventas:")
print(df_ventas)

Dataframe de ventas:
        fecha    cliente     producto  cantidad  precio_unitario  total
0  2024-01-15  Empresa A  Consultoría        40              150   6000
1  2024-01-16  Empresa B     Análisis        20              200   4000
2  2024-01-17  Empresa C   Desarrollo        60              180  10800
3  2024-01-18  Empresa A  Consultoría        30              150   4500
4  2024-01-19  Empresa D     Análisis        25              200   5000

In [14]:
print(df_ventas.dtypes)

fecha              object
cliente            object
producto           object
cantidad            int64
precio_unitario     int64
total               int64
dtype: object

In [17]:
dtypes = {
    'cliente': 'string',
    'producto': 'string',
    'cantidad': 'int32',
    'precio_unitario': 'float32',
    'total': 'float32'
}

df_ventas_typed = pd.read_csv('datos/ventas.csv', dtype=dtypes, parse_dates=['fecha'])
print("\nTipos de datos:")
print(df_ventas_typed.dtypes)

Tipos de datos:
fecha              datetime64[ns]
cliente            string[python]
producto           string[python]
cantidad                    int32
precio_unitario           float32
total                     float32
dtype: object

In [21]:
# CSV con información adicional en las primeras líneas
reporte_csv = """Reporte de Horas Facturables
Generado: 2024-01-20
Período: Enero 2024

consultor,semana1,semana2,semana3,semana4,total
Ana García,40,38,42,40,160
Carlos López,45,40,43,42,170
María Torres,38,40,39,38,155"""

with open('datos/reporte_horas.csv', 'w', encoding='utf-8') as f:
    f.write(reporte_csv)

df_horas = pd.read_csv(
    'datos/reporte_horas.csv',
    skiprows=4 #Para saltar las primeras 4 líneas
)

print(df_horas)

      consultor  semana1  semana2  semana3  semana4  total
0    Ana García       40       38       42       40    160
1  Carlos López       45       40       43       42    170
2  María Torres       38       40       39       38    155

In [19]:
# Archivo con punto y coma
empleados_csv = """id_empleado;nombre;departamento;salario;fecha_contratacion
E001;Ana García;Consultoría;45000;2021-03-15
E002;Carlos López;Análisis;50000;2020-07-01
E003;María Torres;Consultoría;48000;2021-01-20
E004;Juan Pérez;Desarrollo;55000;2019-11-10
E005;Laura Ruiz;Análisis;52000;2020-09-05"""

with open('datos/empleados.csv', 'w', encoding='utf-8') as f:
    f.write(empleados_csv)

df_empleados=  pd.read_csv(

    'datos/empleados.csv',
    sep=';',
    parse_dates=['fecha_contratacion'],
) #Archivo con delimitador ;
print("\nDataFrame de Empleados con delimitador ; :")
print(df_empleados)

DataFrame de Empleados con delimitador ; :
  id_empleado        nombre departamento  salario fecha_contratacion
0        E001    Ana García  Consultoría    45000         2021-03-15
1        E002  Carlos López     Análisis    50000         2020-07-01
2        E003  María Torres  Consultoría    48000         2021-01-20
3        E004    Juan Pérez   Desarrollo    55000         2019-11-10
4        E005    Laura Ruiz     Análisis    52000         2020-09-05

In [22]:
resumen_mensual = pd.DataFrame({
    'mes': ['Enero', 'Febrero', 'Marzo'],
    'ingresos': [250000, 280000, 310000],
    'gastos': [180000, 195000, 205000],
    'utilidad': [70000, 85000, 105000]
})

In [23]:
resumen_mensual.to_csv('datos/resumen_mensual.csv', index=False,encoding='utf-8')