In [1]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: openpyxl in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.12.1/lib/python3.12/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

print(f"version pandas: {pd.__version__}")
print(f"version numpy: {np.__version__}")

version pandas: 2.3.1
version numpy: 2.3.1

In [3]:
# Series de indices personalizado
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo']
ventas = pd.Series([25000, 27000, 30000, 35000, 50000], index=meses)
print(ventas)

Enero      25000
Febrero    27000
Marzo      30000
Abril      35000
Mayo       50000
dtype: int64

In [10]:
#Explorar atributos y metodos
print(f"Valores: {ventas.values}")
print(f"Indices: {ventas.index}")
print(f"Tipo de dato: {ventas.dtype}")
print(f"Dimensiones: {ventas.ndim}")
print(f"Forma: {ventas.shape}")
print(f"Tamaño: {ventas.size}")

Valores: [25000 27000 30000 35000 50000]
Indices: Index(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'], dtype='object')
Tipo de dato: int64
Dimensiones: 1
Forma: (5,)
Tamaño: 5

In [17]:
proyectos = pd.DataFrame({
    'Cliente': ['Empresa A', 'Empresa B', 'Empresa C', 'Empresa D'],
    'Presupuesto': [10000, 20000, 15000, 30000],
    'Duracion_meses': [3, 6, 4, 8],
    'Satisfaccion': [4.5, 4.0, 4.8, 3.9]
}, index=['E001', 'E002', 'E003', 'E004'])

print(proyectos)

        Cliente  Presupuesto  Duracion_meses  Satisfaccion
E001  Empresa A        10000               3           4.5
E002  Empresa B        20000               6           4.0
E003  Empresa C        15000               4           4.8
E004  Empresa D        30000               8           3.9

In [6]:
#Crear DataFrame con datos clientes 
clientes = pd.DataFrame({
    'empresa': ['Tech Corp', 'Finance Ltd', 'Retail SA', 'Energy Co', 'Health Inc'],
    'sector': ['Tecnología', 'Finanzas', 'Retail', 'Energía', 'Salud'],
    'facturacion_anual': [250000, 180000, 320000, 290000, 195000],
    'proyectos_activos': [3, 2, 5, 4, 2],
    'años_relacion': [2, 5, 1, 3, 4]
})
print(clientes)

       empresa      sector  facturacion_anual  proyectos_activos  \
0    Tech Corp  Tecnología             250000                  3
1  Finance Ltd    Finanzas             180000                  2
2    Retail SA      Retail             320000                  5
3    Energy Co     Energía             290000                  4
4   Health Inc       Salud             195000                  2

   años_relacion
0              2
1              5
2              1
3              3
4              4

In [7]:
clientes['facturacion_por_proyecto'] = clientes['facturacion_anual']/clientes['proyectos_activos']
print(clientes)

       empresa      sector  facturacion_anual  proyectos_activos  \
0    Tech Corp  Tecnología             250000                  3
1  Finance Ltd    Finanzas             180000                  2
2    Retail SA      Retail             320000                  5
3    Energy Co     Energía             290000                  4
4   Health Inc       Salud             195000                  2

   años_relacion  facturacion_por_proyecto
0              2              83333.333333
1              5              90000.000000
2              1              64000.000000
3              3              72500.000000
4              4              97500.000000

In [8]:
clientes['vip']=clientes['facturacion_anual']>200000
print("Análisis de Portafolio de Clientes:\n")
print(clientes[['empresa','facturacion_por_proyecto','facturacion_anual','vip']])

Análisis de Portafolio de Clientes:

       empresa  facturacion_por_proyecto  facturacion_anual    vip
0    Tech Corp              83333.333333             250000   True
1  Finance Ltd              90000.000000             180000  False
2    Retail SA              64000.000000             320000   True
3    Energy Co              72500.000000             290000   True
4   Health Inc              97500.000000             195000  False

In [3]:
# DataFrame de ejemplo: Datos de consultores
consultores = pd.DataFrame({
    'nombre': ['Ana López', 'Carlos Ruiz', 'María Silva', 'Juan Torres', 'Laura García'],
    'departamento': ['Estrategia', 'TI', 'Finanzas', 'Estrategia', 'TI'],
    'años_exp': [5, 3, 7, 4, 6],
    'tarifa_hora': [150, 120, 180, 140, 160],
    'horas_mes': [160, 180, 150, 170, 165]
}, index=['C001', 'C002', 'C003', 'C004', 'C005'])

print("DataFrame de Consultores:")
print(consultores)

DataFrame de Consultores:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5          150        160
C002   Carlos Ruiz           TI         3          120        180
C003   María Silva     Finanzas         7          180        150
C004   Juan Torres   Estrategia         4          140        170
C005  Laura García           TI         6          160        165

In [4]:
# Una fila específica
print("\nConsultor C003:")
print(consultores.loc['C003'])

# Múltiples filas
print("\nConsultores C001 y C004:")
print(consultores.loc[['C001', 'C004']])

# Filas y columnas específicas
print("\nTarifas de consultores específicos:")
print(consultores.loc[['C001', 'C003', 'C005'], ['nombre', 'tarifa_hora']])

Consultor C003:
nombre          María Silva
departamento       Finanzas
años_exp                  7
tarifa_hora             180
horas_mes               150
Name: C003, dtype: object

Consultores C001 y C004:
           nombre departamento  años_exp  tarifa_hora  horas_mes
C001    Ana López   Estrategia         5          150        160
C004  Juan Torres   Estrategia         4          140        170

Tarifas de consultores específicos:
            nombre  tarifa_hora
C001     Ana López          150
C003   María Silva          180
C005  Laura García          160

In [19]:
ti = consultores[consultores['departamento'] == 'TI']
print("\nConsultores del departamento de TI:")
print(ti)

Consultores del departamento de TI:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C002   Carlos Ruiz           TI         3          120        180
C005  Laura García           TI         6          160        165

In [20]:
seniors = consultores[consultores['años_exp'] > 5]
print(seniors)

            nombre departamento  años_exp  tarifa_hora  horas_mes
C003   María Silva     Finanzas         7          180        150
C005  Laura García           TI         6          160        165

In [ ]:
#El query me permite usar variables con @ y hacer intervalos
años=5
tarifa=160
resultado=consultores.query("años_exp>=@años and tarifa_hora>@tarifa")
print("Consultores con más de 5 años de experiencia y tarifa por hora mayor a 140:")
print(resultado)

Consultores con más de 5 años de experiencia y tarifa por hora mayor a 140:
           nombre departamento  años_exp  tarifa_hora  horas_mes
C003  María Silva     Finanzas         7          180        150

In [ ]:
filtro=['Estrategia'] #Filtro que va directamente a la columna departamento (isin)
consultores_ti=consultores[consultores['departamento'].isin(filtro)]
print("\nConsultores del departamento de TI:")
print(consultores_ti)

Consultores del departamento de TI:
           nombre departamento  años_exp  tarifa_hora  horas_mes
C001    Ana López   Estrategia         5          150        160
C004  Juan Torres   Estrategia         4          140        170

In [7]:
consultores_copia = consultores.copy()
consultores_copia['tarifa_hora'] = consultores_copia['tarifa_hora']*1.1
print("\nConsultores con tarifa incrementada en 10%:")
print(consultores_copia)
print("\nconsultores original sin cambios:")
print(consultores)

Consultores con tarifa incrementada en 10%:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5        165.0        160
C002   Carlos Ruiz           TI         3        132.0        180
C003   María Silva     Finanzas         7        198.0        150
C004   Juan Torres   Estrategia         4        154.0        170
C005  Laura García           TI         6        176.0        165

consultores original sin cambios:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5          150        160
C002   Carlos Ruiz           TI         3          120        180
C003   María Silva     Finanzas         7          180        150
C004   Juan Torres   Estrategia         4          140        170
C005  Laura García           TI         6          160        165

In [9]:
consultores_copia.loc['C002', 'tarifa_hora'] = 140
print("\nConsultores con tarifa modificada para C002:")
print(consultores_copia)

Consultores con tarifa modificada para C002:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5        165.0        160
C002   Carlos Ruiz           TI         3        140.0        180
C003   María Silva     Finanzas         7        198.0        150
C004   Juan Torres   Estrategia         4        154.0        170
C005  Laura García           TI         6        176.0        165

In [10]:
consultores_copia.loc[consultores_copia['departamento'] == 'TI', 'tarifa_hora'] += 10
print("\nConsultores con tarifa incrementada en 5% para el departamento de TI:")
print(consultores_copia)

Consultores con tarifa incrementada en 5% para el departamento de TI:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5        165.0        160
C002   Carlos Ruiz           TI         3        150.0        180
C003   María Silva     Finanzas         7        198.0        150
C004   Juan Torres   Estrategia         4        154.0        170
C005  Laura García           TI         6        186.0        165

In [14]:
consultores_copia['nivel']='Junior'
consultores_copia.loc[consultores_copia['años_exp']>3,'nivel']='Semi-Senior'
consultores_copia.loc[consultores_copia['años_exp']>5,'nivel']='Senior'
print(consultores_copia)

            nombre departamento  años_exp  tarifa_hora  horas_mes        nivel
C001     Ana López   Estrategia         5        165.0        160  Semi-Senior
C002   Carlos Ruiz           TI         3        150.0        180       Junior
C003   María Silva     Finanzas         7        198.0        150       Senior
C004   Juan Torres   Estrategia         4        154.0        170  Semi-Senior
C005  Laura García           TI         6        186.0        165       Senior

In [15]:
consultores_copia['ingresos_mensuales'] = consultores_copia['tarifa_hora']*consultores_copia['horas_mes']
print(consultores_copia)

            nombre departamento  años_exp  tarifa_hora  horas_mes  \
C001     Ana López   Estrategia         5        165.0        160
C002   Carlos Ruiz           TI         3        150.0        180
C003   María Silva     Finanzas         7        198.0        150
C004   Juan Torres   Estrategia         4        154.0        170
C005  Laura García           TI         6        186.0        165

            nivel  ingresos_mensuales
C001  Semi-Senior             26400.0
C002       Junior             27000.0
C003       Senior             29700.0
C004  Semi-Senior             26180.0
C005       Senior             30690.0

In [16]:
# Agrupar por departamento y mostrar estadísticas
for dept in consultores['departamento'].unique():
    equipo = consultores[consultores['departamento'] == dept]
    print(f"\n{dept}:")
    print(f"  Consultores: {len(equipo)}")
    print(f"  Tarifa promedio: ${equipo['tarifa_hora'].mean():.2f}")
    print(f"  Experiencia promedio: {equipo['años_exp'].mean():.1f} años")

Estrategia:
  Consultores: 2
  Tarifa promedio: $145.00
  Experiencia promedio: 4.5 años

TI:
  Consultores: 2
  Tarifa promedio: $140.00
  Experiencia promedio: 4.5 años

Finanzas:
  Consultores: 1
  Tarifa promedio: $180.00
  Experiencia promedio: 7.0 años